.control-bar {
    position:fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100vw;
    box-sizing:border-box;
    background-color: rgb(0,33,71);
    font-weight: bold;
    font-size: 1.1rem;
    color: floralwhite;
    padding: 0 20px;
    white-space: nowrap;
}

.filler{
    height: 70px;
    width: 100vw;
    position: relative;
}

.control-button {
    width: max-content;
    height: 60%;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: transparent;
    color: rgb(248,251,255);
    cursor: pointer;
    border: 1px solid rgb(248,251,255);
    border-radius: 4px;
    padding: 5px;
}

.control-button:hover{
    color: rgb(0,33,71);
    background-color: rgb(248,251,255);
    transition: 100ms;
}

.v-roll{
    height: 60%;
    width: 0;
    border-left: 1px solid rgb(248,251,255);
    margin: 0 21px;
}

.control-bar *> label{
    color: white;
    font-size: 0.98rem;
    font-weight: lighter;
}

.inputs {
    display: flex;
    gap: 5px;
    margin: 0 5px 0 20px;
    height: 100%;
    align-items: center;
}


.control-bar *> input{
    width: 170px;
}

