.elevator {
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    border: rgb(0,33,71) solid 1px;
    background-color: rgb(204, 216, 231);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.reserved{
    background-color: rgb(255,221,216);
}

.open{
    background-color: rgb(235,250,218);

}

.elevator > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.elevator > .buttons {
    flex: 1 100%;
}