.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex: 1 100%;
    align-items: stretch;
    box-sizing: border-box;
    padding: 2px;
    overflow: auto;
}

.grid-row {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.grid-row:nth-child(odd) {
    background-color: rgb(240, 240, 252);

}

.grid-row:nth-child(even) {
    background-color: rgb(245, 245, 247);

}

.grid-cell {
    box-sizing: border-box;
    padding: 7px;
    flex: 1 100%;
}

.last-column-cell {
    flex: none !important;
}