.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex: 1 100%;
    align-items: stretch;
    box-sizing:border-box;
    padding: 10px;
}

.grid-row {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.grid-cell {
    box-sizing:border-box;
    padding: 5px;
    flex: 1 100%;
    background-color: whitesmoke;
    border: rgba(0, 0, 0, 0.47) solid 1px;
    margin: -1px;
}

.last-column-cell {
    flex: none !important;
}